/* Reset */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

figure {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img, video {
    max-width: 100%;
}


/* CSS */


html {
    font-family: sans-serif;
    background: lime;
}


h1 {
    font-size: 50px;
}

p {
    font-size: 50px;
}

.title, .slide {
    margin: 0;
    background: orange;
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img, video {
    max-width: 500px;
    max-height: 500px;
}

figcaption {
    font-style: italic;
}